* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  $DarkBlue: #003F62;
  $Orange: #EDA415;
  @mixin FlexBox() {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  body {
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
  }
  
  input, button {
    font-family: inherit;
  }
  
  .container {
    width: 1330px;
    margin: 0 auto;
  }
  
  .headline {
    @include FlexBox;
    margin: 30px 0;
  
    .right {
      i {
        margin-left: 35px;
      }
    }
  }
  
  .header {
    background: $DarkBlue;
    padding: 22px 0;
  
    section {
      @include FlexBox;
      column-gap: 85px;
  
      .menu-bar {
        flex-grow: 1;
        text-align: right;
        color: #fff;
  
        a {
          display: inline-block;
          margin-left: 30px;
  
          i {
            font-size: 16px;
          }
  
          span {
            display: inline-block;
            padding: 0 6px;
            border-radius: 50px;
            background: $Orange;
            margin-right: 12px;
          }
        }
      }
  
      .search {
        width: 438px;
        position: relative;
  
        button {
          background: $Orange;
          border: none;
          color: #fff;
          height: 56px;
          border-radius: 20px;
          padding: 0 40px;
          position: absolute;
          right: 0;
          cursor: pointer;
          font-weight: 600;
        }
  
        input {
          width: 100%;
          height: 56px;
          border-radius: 20px;
          border: none;
          padding-left: 25px;
  
          &::placeholder {
            color: #292D32;
          }
        }
      }
    }
  }
  
  .menu {
    background: #F4F4F4;
    font-size: 16px;
  
    section {
      @include FlexBox;
  
      .left {
        background: $Orange;
        padding: 23px 15px;
        color: #fff;
  
        i {
          margin-left: 15px;
        }
      }
  
      .right{
        text-align: right;
        color: $DarkBlue;
        font-weight: 700;
      }
  
      .center {
        ul {
          @include FlexBox;
          column-gap: 30px;
  
          li {
            list-style: none;
          }
        }
      }
    }
  }
  .title{
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    i{
        margin: 0 20px;
    }
  }
  .list-product{
    .result{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "h1 h2 h2 h2";
        gap: 20px;
        .title{
            grid-area: h1;
            p{
                color: #003F62;
                font-size: 16px;
                font-weight: 500;
                span{
                    float: right;
                    font-size: 15px;
                    color: #595959
                }
            }
            h1{
                font-size: 16px;
                color: #222222;
                padding: 7px 0;
                span{
                    float: right;
                    font-size: 15px;
                    color: #595959
                } 
            }
            p{
                margin-top: 10px;
            }
            h2{
                font-size: 16px;
                color: #303030;
                padding: 5px 0;
                span{
                    float: right;
                    font-size: 15px;
                    color: #595959;
                }
            }
            h3{
                color: #AFAFAF;
                font-size: 16px;
                margin-bottom: 15px;
                span{
                    float: right
                }
            }
        }
    }
   .cold{
  grid-area: h2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .col{
    width: 33.33%;
  }
  .item{
    border-radius: 20px;
    border: 1px solid#B6B6B6;
    border-radius: 20px;
margin-left: 10px;
margin-right: 10px;
padding: 10px;
margin-bottom: 20px;
    .image{
    a{
    img{
      margin: auto;
    }
    }
    }
    .favourite{
      position: absolute;
      right: 26px;
      top: 36px;
      padding: 2px 4px;
      border: none;
      background-color: #B3D4E5;
      border-radius: 100px;
    }
    h1{
      font-size: 17px;
      font-weight: 500;
      color: #003F62;
    }
    h2{
      font-size: 17px;
      font-weight: 600;
      color: #4A4A4A;
      padding: 15px 0;
    }
    .rating{
      i{
        color: #ACACAC;
      }
    }
  }
   }
  }
  .sale-up{
    position: relative;
    .img{
      margin-top: 20px;
        max-width: 100%;
        display: block;
    }
    .sale{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      right: 0;
      width: 30%;
      margin-right: 20px;
      a{
          display: inline-block;
          padding: 12px 26px;
          background-color: #EDA415;
          color: #fff;
          border-radius: 20px;
      }
      p{
          font-size: 41px;
          font-weight: 700;
          color: #2E8FC5;
          span{
              font-weight: 500;
              font-size: 18px;
              color: #fff;
              margin-bottom: 36px;
          }
      }
      }
      }
      .footer{
        background-color: #E2F4FF;
      padding: 90px;
      margin-top: 90px;
        .subscribe{
          background-color: #fff;
          @include FlexBox();
          padding: 47px 95px;
          border-radius: 20px;
          .nexttech{
            p{
              font-size: 30px;
              font-weight: 700;
              color: #1B5A7D;
            }
          }
          .search{
            width: 388px;
            position: relative;
            margin-top: 25px;
            input{
              width: 100%;
              height: 60px;
              background-color: #EDA415;
              border: none;
              border-radius: 20px;
              padding-left: 20px;
              color: #fff;
              &::placeholder{
                color: #fff;
                font-size: 14px;
                font-weight: 600;
              }
            }
            button{
  i{
    color: #fff;
    height: 60px;
    padding: 22px;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-weight: 600;
    top: 0;
  }
            }
          }
          .caller{
            width: 138px;
            i{
              width: 32%;
              color: #EDA415;
            }
            span{
              font-size: 14px;
              font-weight: 600;
              color: #606060;
            }
          }
        }
        .finally{
          @include FlexBox();
          p{
            padding-top: 20px;
            padding-bottom: 10px;
          }
          .left{
            p{
              font-size: 20px;
              font-weight: 600;
              color: #1B5A7D;
            }
            ul{
              li{
                font-size: 19px;
                color: #1B5A7D;
                margin: 5px 0;
            }
            }
        }
        .center{
          p{
            font-size: 20px;
            font-weight: 600;
            color: #1B5A7D;
          }
          ul{
            li{
              font-size: 19px;
              color: #1B5A7D;
              margin: 5px 0;
          }
            }
          }
          .right{
            p{
              font-size: 20px;
              font-weight: 600;
              color: #1B5A7D; 
            }
            ul{
              li{
                font-size: 19px;
              color: #1B5A7D;
              margin: 5px 0;
              }
            }
          }
        }
      }
  